.comments-container-view {
  margin-bottom: 30px;
  font-weight: $font-weight-light;

  .container {
    width: 625px;
  }

  .comment-morsel-name {
    font-weight: $font-weight-light;
    margin-top: 30px;
    margin-bottom: 30px;
  }

	textarea {
		width: 100%;
		margin: 0 auto;
	}

  .cmt-textarea-top {
    float: left;
    clear: both;
  }
}

.comment-first-row {
  margin-bottom: 30px;
}

.comment-header-container {
  .toggle-comments.block-div {
    margin-left: -20px;
    font-size: 10px;
    padding-top: 4px;
  }

  .block-div {
    cursor: pointer;
    margin-right: 10px;
  }
}

.comment-container {
  clear: both;
  padding-top: 10px;
  margin-bottom: 15px;
}

.comment-box .comment-box {
  margin-left: 25px;
}
