.block-div {
	float: left;
	display: block;
}

.morsels-options {
	position: absolute;
}

.jar-summary-item-view {
  max-height: 450px;
  min-height: 556px;
	width: 250px;
	padding: 15px;
	float: right;
	position: relative;
	left: -70px;
}

.jar-summary-title, 
.morsel-title {
  font-size: $font-size-scale-1;
  font-weight: $font-weight-light;
}

.jar-summary-item-view > div {
	margin-bottom: 10px;
}

.jar-about-container {
	min-height: 206px;
}

.morsels-collection-view {
	margin-left: -7px;
	width: 967px;
}

.morsel-footer {
	width: 91%;
	position: absolute;
	top: 139px;

	ul {
		margin-bottom: 0px;
	}
}

.morsel-actions {
	float: right;
}
