.block-div {
	float: left;
	display: block;
}

.morsels-options {
	position: absolute;
}

.jar-summary-item-view {
  max-height: 450px;
  min-height: 556px;
	width: 270px;
	float: right;
	position: relative;
	left: -30px;
  font-weight: $font-weight-light;
}

.jar-summary-title {
  font-size: $font-size-scale-2;
  margin-top: 3px;
  margin-bottom: 18px;
}

.jar-summary-label {
	margin-top: 15px;
	margin-bottom: 5px;
}

.morsels-collection-view {
	margin-left: -7px;
	width: 967px;
}

.morsel-info {
	font-size: 12px;
}

.morsel-footer {
	width: 91%;
	position: absolute;
	top: 143px;

	ul {
		margin-bottom: 0px;
	}
}

.morsel-actions {
	float: right;

	li {
		padding-left: 10px;
		padding-right: 10px;
	}
}
