.navbar {
  margin-bottom: 15px;

  .nav {
    float: right;

    li > a {
      &:hover {
        background-color: inherit;
      }
    }
  }

  .navbar-collapse {
    padding: 0;
  }

  .navbar-brand {
    margin-left: 0 !important;
    padding: 15px 0px 0px 0px;
    font-size: $font-size-scale-1;
  }

  .navbar-toggle {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
  }

  .nav-icon {
    font-size: $font-size-scale-2;
  }

  .link-log-in {
    padding-right: 0;
  }
}

@media (min-width: $screen-sm) {   
  .navbar-brand {
    padding-left: 0;
  }
}