.navbar {
  .nav {
    float: right;

    li > a {
      &:hover {
        background-color: inherit;
      }
    }
  }

  .navbar-brand {
    font-size: $font-size-scale-1;
  }

  .navbar-toggle {
    margin: 0;
    padding-top: 2px;
  }

  .nav-icon {
    font-size: $font-size-scale-2;
  }
}
