.btn-sign-up {
  height: 38px;
  width: 195px;
  margin: 0 auto;
  border-radius: 0;
  color: $white;
  font-weight: $font-weight-light; 

  .ion-social-facebook,
  .ion-social-twitter {
    display: inline-block;
    margin-right: 8px;
  }
}

.btn-sign-up-fb {
  background-color: $fb-blue;
  @include transition(background-color 200ms ease-out);

  &:focus,
  &:hover {
    color: $white;
    background-color: darken($fb-blue, 10%);
    @include transition(background-color 200ms ease-out);
  }
}

.btn-sign-up-twitter {
  background-color: $twitter-blue;
  @include transition(background-color 200ms ease-out);

  &:focus,
  &:hover {
    color: $white;
    background-color: darken($twitter-blue, 10%);
    @include transition(background-color 200ms ease-out);
  }
}

.btn-close-modal {
  position: absolute;
  top: 30px;
  right: 40px;
  padding: 0;
  border: 0;
  background-color: inherit;
  font-size: $font-size-scale-2;
  color: $light-gray;
  @include transition(color 200ms ease-out);

  &:focus,
  &:hover {
    color: $black;
    @include transition(color 200ms ease-out);
  }
}
