body {
  font-family: $font-family-sans-serif;
}

a {
  color: $black;

  &:hover,
  &:active,
  &:hover,
  &:focus {
    color: inherit;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
  }
}
