<div class="comment-header-container">
	<div class="toggle-comments block-div"></div>
	<div class="commentor block-div"></div>
	<div class="age block-div"></div>
	<div class="comment-likes block-div"></div>
	<div class="reply-button block-div"></div>
</div>
<div class="comment-container">
	<span class="user-comment"></span>
</div>
<textarea placeholder="WRITE A COMMENT..." rows="4"></textarea>
<button data-toggle="modal" data-target="#modal-comments-view" class="btn btn-block btn-sign-up btn-sign-up-fb submit-comment">Submit</button>
<div data-subview="commentsSubview"></div>
