<div class="row">
  <div class="comment-header-container">
  	<div class="toggle-comments block-div"><span class="ion-chevron-down"></span></div>
  	<div class="commentor block-div"></div>
  	<div class="age block-div"></div>
    <div class="block-div"><span class="ion-heart"></div>
  	<!-- <div class="comment-likes block-div"></div> -->
  	<div class="reply-button block-div"><span class="ion-reply"></span></div>
  </div>
  <div class="comment-container">
  	<span class="user-comment"></span>
  </div>
  <textarea class="hide" placeholder="Write a comment..." rows="4"></textarea>
  <button class="hide btn btn-add-photo">ADD A PHOTO</button>
  <button class="hide btn submit-comment">SUBMIT</button>
</div>

<div data-subview="commentsSubview"></div>