<div class="modal fade" id="modal-create-subminnow" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="btn btn-close-modal" data-dismiss="modal" aria-label="Close"><span class="ion-close" aria-hidden="true"></span></button>
    <div class="modal-content">
        <h3 class="heading-sign-up">Create a Subminnow</h3>
        <div class="block-sign-up">
            <div class="input-group">
                <h4>Creator:</h4>
                <input type="text" class="form-control creator" placeholder="Creator" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <h4>Name:</h4>
                <input type="text" class="form-control name" placeholder="Name" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <h4>Related:</h4>
                <input type="text" class="form-control related" placeholder="Related" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <h4>About:</h4>
                <textarea class="form-control about" rows="5"></textarea>
            </div>
            <button data-toggle="modal" data-target="#modal-create-subminnow" class="btn btn-block btn-sign-up btn-sign-up-fb createSubminnow" style="margin-top:15px">Create Subminnow</button>
        </div>
        <p class="sign-up-disclaimer">Don't worry. We'll never post to your social network without your permission.</p>
    </div>
</div>