<div class="modal fade" id="modal-create-morsel" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="btn btn-close-modal" data-dismiss="modal" aria-label="Close"><span class="ion-close" aria-hidden="true"></span></button>
    <div class="modal-content">
        <h3 class="heading-sign-up">Add a Resource</h3>
        <div class="block-sign-up">
            <div class="input-group">
                <h4>Title:</h4>
                <input type="text" class="form-control title" placeholder="Title" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <h4>URL:</h4>
                <input type="text" class="form-control url" placeholder="URL" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <h4>Author:</h4>
                <input type="text" class="form-control author" placeholder="Author" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <h4>Rating:</h4>
                <input type="text" class="form-control rating" placeholder="Rating" aria-describedby="basic-addon1">
            </div>
            <button data-toggle="modal" data-target="#modal-create-morsel" class="btn btn-block btn-sign-up btn-sign-up-fb createMorsel" style="margin-top:15px">Add Resource</button>
        </div>
        <p class="sign-up-disclaimer">Don't worry. We'll never post to your social network without your permission.</p>
    </div>
</div>