<div class="tile">
	<div class="morsel-title"></div>
	<div class="morsel-footer">
		<ul class="morsel-info list-inline block-div">
			<li><span class="morsel-views"></span> Views</li>
			<li><span class="morsel-age"></span></li>
		</ul>
	 	<ul class="morsel-actions list-inline block-div">
			<li><span class="ion-heart"></span></li>
			<li ><a class="morsel-comments"><span class="ion-chatbubble"></span></a></li>
			<li><span class="ion-android-bookmark"></span></li>
			<li><span class="ion-android-warning"></span></li>
		</ul>
	</div>
</div>