<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapsable-section">
            <span class="nav-icon ion-navicon"></span>
        </button>
        <a class="navbar-brand" href="#home">Minnow</a>
    </div>
    <div class="navbar-collapse collapse" id="nav-collapsable-section">
        <ul class="nav navbar-nav">
            <li data-toggle="modal" data-target="#modal-create-subminnow"><a>Create Subminnow</a></li>
            <li><a>Explore Subjects</a></li>
            <li><a>Explore Classes</a></li>
            <li><a data-toggle="modal" data-target="#modal-sign-up">Sign Up for More Features</a></li>
            <li><a>Log In</a></li>
        </ul>
    </div>
</div>
