<div class="search">
    <input type="text" placeholder="Search for a subject that interests you." class="search-input">
    <div class="hidden-xs search-dropdown dropdown">
        <button class="search-dropdown-btn dropdown-toggle btn" type="button" data-toggle="dropdown">Sort by<span id="sort-option"> Popularity</span><span class="ion-chevron-down"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a>Popularity</a></li>
            <li><a>Active Users</a></li>
            <li><a>Date Created</a></li>
        </ul>
    </div>
</div>