<div class="modal fade" id="modal-sign-up" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="btn btn-close-modal" data-dismiss="modal" aria-label="Close"><span class="ion-close" aria-hidden="true"></span></button>
    <div class="modal-content">
        <h3 class="heading-sign-up">Sign up for Minnow</h3>
        <div class="block-sign-up">
            <button class="btn btn-block btn-sign-up btn-sign-up-fb"><span class="ion-social-facebook"></span>Sign up with Facebook</button>
            <button class="btn btn-block btn-sign-up btn-sign-up-twitter"><span class="ion-social-twitter"></span>Sign up with Twitter</button>
        </div>
        <a class="sign-up-email">I'd rather use my email address.</a>
        <p class="sign-up-disclaimer">Don't worry. We'll never post to your social network without your permission.</p>
    </div>
</div>